@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
box-sizing: border-box;
}
 
 
body {
margin: 0px;
font-family: 'Montserrat', sans-serif;     
}
 
.first {
color: #293133;
}

.ending {
color:#00d2b5;
}
 
nav {
position:fixed;
top:60px;
width:100%;
/*padding-right:20px;*/
}
 
nav .menu {
text-align:center;
background-color: white;
}
 
nav .menu .menu__items, .menu__items li {
display:inline-block;
vertical-align:middle;
}
 
.menu__items li {
list-style: none;
padding:20px;
}
 
.menu__items li a {
color: black;
text-decoration: none;
font-weight:normal;
}

.menu__items li a:hover {
color:#00d2b5 ;
}
 
div.sticky {
/*position: -webkit-sticky;*/
position: sticky;
top: 0;
background-color: white;
/*padding: 50px;*/
font-size: 20px;
}
 
.header {
background-color: white;
width: 100%;
position: fixed;
top: 0px;
text-align: center;
padding-bottom: 20px;
}
 

/*.section__content {
  display: inline-block;
}*/
 
.content {
max-width:950px;
margin:0 auto;
margin-top:70px;
}
 
.sections {
display: inline-block;
width:100%;
margin-top: 170px;
}

.sections-uneven {
display: inline-block;
width:100%;
}




 /*.sections > div {*/
 /*    display: block;*/
 /*    width: 100%;*/
 /*}*/
 
.sections > #section-left {
float: left;
width: 50%;
}

.sections > #section-right {
float: right;
width: 50%;
}

 
h1 {
font-size: 3.5rem;
font-weight: 6000;
color: black;
}

p {
color: #6c757d;
font-size: 1rem;
font-weight: 300;
}

h2 {
text-align: center;
color: black;
font-weight: 800;
}

.quotes {
font-style: italic;
}

.font-weight-bold {
font-weight: 700;
}
 
.copertina {
height: auto;
/*width: 100%;*/
}
 
 /*#container{width:100%;}*/
 /*#left{float:left;width:100px;}*/
 /*#right{float:right;width:100px;}*/
 /*#center{margin:0 auto;width:100px;}*/
 
 
.button {
border: none;
border-radius: 40px;
background-color:#00d2b5;
color: white;
padding: 16px 32px;
text-align: left;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
transition-duration: 0.4s;
}
 
.button:hover {
background-color: grey; 
color: white;
border: none;
 /*border-radius: 15%;*/
}
 
.blocco_features {
max-width:950px;
margin: 0 auto;
margin-top: 170px;
}

.blocco_about-us {
max-width: 1100px;
margin: 0 auto;
margin-top: 170px;
}

.blocco_testimonials  {
max-width: 800px;
margin: 0 auto; 
margin-top: 170px; 
padding-left: 40px;
}

.blocco_blog{
max-width: 1100px;
margin: 0 auto;
margin-top: 170px;
}

/*#gray_background {
position:fixed;
top:0px;
width:100%;
}*/


#graybg {
background-color:#EEEEEE;
padding-top: 10px;
padding-bottom: 70px;
}

#whitebackground {
background-color: inherit;
}

.header_gray {
margin-top: 150px;
text-align: center;
}

.container_features {
text-align: center;
}
  

.feature {
display: inline-block;
width: 28%;
margin-bottom: 15px;
margin-right: 15px;
padding: 20px;
background-color: white;
text-align: left;
}

.feature .fa {
font-size: 15px;
}

.fa {
color: white;
}

.container_s {
margin-top: 45px;
margin-bottom: 20px;
width: 100%;
margin-left: 75px;
}
 
.circle-icon {
background:#00d2b5;
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
line-height: 5px;
vertical-align: middle;
padding-top: 13px;
}

.test a {
font-weight:normal;
text-decoration: none;
color: #00d2b5;
}

.device {
height: auto;
width: 100%;
}

.devices {
height: auto;
width: 100%;
}

.sections-uneven > #section-left-uneven {
margin-top: 20px;
float: left;
width: 55%;
padding-left: 250px;
}

.sections-uneven > #section-right-uneven {
float: right;
width: 45%;
margin-top: 45px;
}


.sections-uneven > #section-left-uneven1 {
margin-top: 60px;
float: left;
width: 50%;
padding-left: 260px;
}

.sections-uneven > #section-right-uneven1 {
float: right;
width: 40%;
margin-top: 45px;
margin-right: 150px;
}

.sections-uneven > #about-us-left {
float: left;
width: 50%;   
margin-top: 25px;
}

.sections-uneven > #about-us-right {
float:right;
width: 40%;
}

#about-us-right h2 {
text-align: left;
font-weight: 500;
}

.about {
height: auto;
width: 100%;
}


#section-right-uneven h2 {
text-align: left;
}

#section-left-uneven1 h2 {
text-align: left ;  
}

.fa-check {
color:#77DD77;   
}

.box-person1 {
margin-top: 50px;
margin-right: 250px;
box-shadow: 0 5px 15px -2px  #c2c1c1;
border-radius: 5px;
padding: 20px;
border: 1px solid #EEEEEE;;
}

.box-person4 {
margin-top: 50px;
margin-right: 50px;
box-shadow: 0 5px 15px -2px #c2c1c1;
border-radius: 5px;
padding: 20px;
border: 1px solid #EEEEEE;
}

.flex-container {
display: flex;
margin-bottom: 1.5rem;
}


.box-img  {
text-align:left;
text-size-adjust:100%;
}

.box-img .person1  {
max-width: 50px
}

.box-img .person4  {
max-width: 50px
}


.person4 {
border-radius: 50%;
vertical-align: middle;
border-style: none;
}

.person1 {
border-radius: 50%;
vertical-align: middle;
border-style: none; 
}

.img-fluid {
height: auto;
}

.black-text {
color: black;
margin-left: 20px;
}

.slider-container {
width: 600px;
height: 400px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
text-align: center;
overflow: hidden;
}

.image-container {
width: 2680px;
height: 400px;
clear: both;
position: relative;
position: relative;
text-align: center;
color: white;

-webkit-transition: left 2s;
-moz-transition: left 2s;
-o-transition: left 2s;
transition: left 2s

} 

#slider-image-1:target ~ .image-container {
left: -0px;
}

#slider-image-2:target ~ .image-container {
left: -670px;
}

#slider-image-3:target ~ .image-container {
left: -1340px;
}

#slider-image-4:target ~ .image-container {
left: -2010x;
}

.button-container {
text-align: center;
padding-top: 20px;
}

.slider-change {
cursor: pointer;
margin: 0 2px;
display: inline-block;
height: 10px;
width: 10px;
border-radius: 5px;
background-color: #a09e9e;
transition: 0.6s ease;
}

.active,.slider-change:hover {
background-color: #00d2b5;
}

.centered{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: grey;
}

.container_blog{
max-width:1100px;
margin: 0 auto;
margin-top: 40px;
text-align: center;
}


.post {
display: inline-block;
width: 28%;
margin-bottom: 15px;
margin-right: 15px;
text-align: left;
}


.post h2 {
text-align: left;
}

.img-post {
width: 100%
}

.post-details {
font-size: small;
color: #a09e9e;
text-decoration: none;
}

.post-details a {
font-size: small;
color: #a09e9e;
text-decoration: none;
}


.post-details a:hover {
color: #00d2b5; ;
}

.dot {
height: 2px;
width: 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
vertical-align: middle;
margin:10px;
}

.blocco_contact {
max-width: 1100px;
margin: 0 auto;
margin-top: 170px;
}

.form_container {
width: 600px;
text-align: left;
margin: 0 auto;
background-color: white;
}

.fildset {
border: none;
margin-left: 10px;
margin-right: 10px;
padding-top: 0.35em;
padding-bottom: 1.625em;
padding-left: 1.75em;
padding-right: 1.75em;
}

.name_surname{
display:inline block ;
}